$primaryBackground: rgb(10,42,84);
$primaryBackgroundTransparent: rgba(10,42,84,0.8);
$primaryText: #efefef;
$secondaryBackground: #efefef;
$secondaryText: rgb(10,42,84);
$terciaryBackground: #f5f5f5;
$terciaryText: #2e2d2d;
$quaternaryBackground: #a8a8a8;
$quaternaryText: #a8a8a8;
$quintenaryText: red;
$primaryIcon: #efefef;
$secondaryIcon: #2e2d2d;
$iconBackground: #f5f5f5;
$borderColor: #c2bebe;
$drawer: rgb(10,42,84);
$primary: #555CC4;
$primaryLight: #829BF8;
$primaryGradientStart: #4f44b6;
$primaryGradientEnd: #4f44b6;
$secondaryGradientStart: #FF1358;
$secondaryGradientEnd: #FF1358;
$profileGradientStart: #54CBF6;
$profileGradientEnd: #49D2D0;
$secondary: #FF1358;
$secondaryButtonText: #ffffff;
$primaryButtonText: #ffffff;
$introText: #19e7f7;
$grey: #acacac;
$gray: #5f5f5f;
$darkGray: #4d4d4d;
$lightGray: #9b9b9b;
$white: #efefef;
$blue: #5A81F7;
$bluish: #F1F1F7;
$black: #000000;
$green: #6DD0A3;
$yellow: #ffc247;
$textInputColor: #ffffff;
